@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, "poppins";
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

/* wrapping the container: this css styling centers the content to the middle of the page an wraps easily  */
.todo-app {
    width: 100%;
    /* standard width for any container */
    max-width: 540px; 
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}   

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* input field was originated from row style in a way that they stay on top of the row style */
input {
    flex: 1;
    /* border and outline none removes all border and out line  */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    /* width: 100%; */
} 

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    /* making the position absolute relative to its container  */
    position: relative;
}

/* to place the circle check before the items  */
ul li::before {
    content: "";
    position: absolute;
    /* forms a box  */
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    /* background size makes the image to cover the space provided for it  */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* when task is done this style is applied to the task*/
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}